h1 {
    text-transform: uppercase;
    color: $tertiary;
    margin-top: 60px;
}

h2 {text-transform: uppercase;
}

h3 {color: $tertiary;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
}

.images{
    width: 500px;
}

.images2{
    width: 100%;
}

.images3 {
    width: 300px;
}

.change {
    margin: 5px;
}